<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.ns/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<main layout:fragment="main">
    <div layout:fragment="content">
        <h1 th:text="#{error.title}"></h1>
        <p th:text="#{error.description}"></p>
        <a class="btn btn-outline-primary mb-5" th:text="#{link.back.title}" th:title="#{link.back.title}" href="/index"></a>
    </div>
</main>
</body>
</html>